<form asp-action="Index">
   <label>Nhap thong tin</label>
    <input type="Text" name="hesoA" placeholder="Enter number"/>
    <input type="Text" name="hesoB" placeholder="Enter number"/>
    <input type="submit" value="Save"/>   
</form>
<h2>@ViewBag.Nhandulieu</h2>